@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

/* DM Sans */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRR232RmYJp8I5zzw.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW32RmYJp8I5.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Krona One */
@font-face {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kronaone/v14/jAnEgHdjHcjgfIb1ZcUyOIWg_8a0Wy2V.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kronaone/v14/jAnEgHdjHcjgfIb1ZcUyNoWg_8a0Ww.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body{
  background-color: rgb(229, 220, 220);
} */

 body{
  background-color: rgb(245, 245, 248) !important;
 }


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-20 pl-10;
  }

  .padding-r {
    @apply sm:pr-20 pr-10;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply  text-slate-gray text-lg leading-7;
  }
  
}
input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
  display: block;
  width: 100%;
  background-color: transparent !important;
  padding-left: 0.5rem !important;
}

.peer:placeholder-shown ~ .peer-placeholder-shown\:top-2 {
  top: -0.2rem !important;
}

.whitespace{
  padding-left: 5% !important;
  padding-right: 5% !important;
}

ol {
  counter-reset: custom;
  list-style-type: none;
  padding: 0;
  margin: 0px 10px;
  li {
    counter-increment: custom;
    padding: 8px 0;
    display: flex;
    align-items: center;
    &:before {
      content: counters(custom, ".") " ";
      width: 35px;
      height: 35px;
      margin-right: 10px;
      background: #0000FF;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      @media (max-width: 639px) {
        display: none;
      }
    }
  }
}

.footer_title{
  border-bottom: 2px solid blue;
  width: fit-content;
}

.carousel-container{
  padding-bottom: 40px !important;
}


.latest_post_section{
  padding-bottom: 40px !important;
}

.why_epe_section{
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}

.airbubble_section{
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.boxShadow{
  box-shadow:0 0 10px rgba(51, 51, 51, 0.2)
}

/* styles.css */
@media (max-width: 639px) {
  .custom-mt-5 {
    margin-top: 1.25rem !important; /* Tailwind's mt-5 equivalent */
  }
}